*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header{
    background-image: url(../source/images/banner2.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 890px;
    position: fixed;
   
}
header ul li{
    list-style: none;
    padding: 10px;
}
header ul{
    padding-top: 10px;
    display: flex;
    margin-left: 50px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
}
ul li a:hover{
    color: #F15B22;
}
ul li a:active{
    color: #b83704;
}