*{
    padding: 0;
    margin: 0;
}

header{
    background-image: url(/source/images/banner2.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 890px;
   
}
header ul li{
    list-style: none;
    padding: 10px;
}
header ul{
    padding-top: 10px;
    display: flex;
    margin-left: 50px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}